.oculto{
    display: none;
}

body{
    background-image:url(https://i.pinimg.com/564x/f4/04/a6/f404a6ff49800efe89c933ebf761a7b9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, footer{
    background-color: rgb(232, 213, 255);
}

header h4{
    padding-left:0;
    margin-bottom: 0;
    color:rgb(38, 9, 75);
}

.fondo{
background-color: #ffeef5;
}


#menu li{
    padding-top:0.4em;
    padding-bottom: 0.2em;
    margin:0.3em;
}


#pie{
    padding:1em;
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    
}

#form-acceder{
    padding:2em;
    margin-bottom:2em;

}

.opaco{
    opacity: 0.04;
    transition: 400ms opacity ease;
}

.claro{
    opacity: 1;
    transition: 400ms opacity ease;
}