$secondary: #e9b1ff;
$color-contrast-dark:rgb(38, 9, 75);

$theme-colors: (
  "secondary": $secondary,
  "color-contrast-dark":$color-contrast-dark

);



@import "./node_modules/bootstrap/scss/bootstrap.scss";
